.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}
.login > div > img {
  object-fit: contain;
  height: 180px;
}
.login_logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
